<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<center>
<img src="{{url_for('static',filename='personal_project//o.jpeg')}}" height="800" width="680">
</br>
<img src="{{url_for('static',filename='personal_project//e.jpeg')}}" height="700" width="680">
</br>
<img src="{{url_for('static',filename='personal_project//c.jpeg')}}" height="700" width="680">
</br>
<img src="{{url_for('static',filename='personal_project//m.jpeg')}}" height="700" width="680">
</br>
<img src="{{url_for('static',filename='personal_project//a.jpeg')}}" height="700" width="680">
</br>
<img src="{{url_for('static',filename='personal_project//f.jpeg')}}" height="700" width="680">
</br>
<img src="{{url_for('static',filename='personal_project//t.jpeg')}}" height="700" width="680">
</br>
<a href="/choose_comic"><button>Continue later</button></a>
</br>
<a href="/choose"><button>Done!</button></a>
 </br>


</center>
</body>
</html>